* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nabla {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}
  

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 25px 60px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: red;
}

.header {
    text-align: center;
    padding-bottom: 10px;
}

.main {
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    box-shadow: inset 0 0 20px black;
    display: flex;
    flex-wrap: wrap;
}

.botom {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: #fbca1f;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
  
#color-picker {
    display: none;
}